.sidebar {
  position: fixed;

  z-index: 999;

  top: 0;
  left: 0;

  height: 100vh;

  cursor: pointer;

  background-color: var(--sala-primary-navy-light);
  color: white;

  user-select: none;

  transition: width 0.4s;

  overflow: hidden;

  &.open {
    width: 280px;
  }

  &.close {
    width: 85px;

    .user {
      p {
        opacity: 0;
      }
    }

    .header {
      left: 0;
      // transform: translateX(0%);

      h2 {
        opacity: 0;
      }
    }

    .links {
      p {
        opacity: 0;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;

    // border: 1px solid red;

    margin-top: 1rem;

    width: 200px;

    position: relative;

    left: 30px;
    // transform: translateX(-50%);

    transition: all 0.3s;

    .logo {
      width: 80px !important;
      height: 35px;
    }

    h2 {
      transition: opacity 0.3s;
      color: white;
    }
  }

  .links {
    margin-top: 3rem;

    width: 280px;

    display: flex;
    flex-direction: column;

    gap: 1.5rem;

    .link_container {
      padding: 0.7rem 0;
      transition: background-color 0.2s;

      display: flex;
      align-items: center;

      .link_icon {
        color: white;

        width: 80px;
        height: 35px;

        transition: color 0.2s;
      }

      p {
        color: white;
        font-weight: 600;

        transition: all 0.2s;
      }

      &:hover {
        background-color: white;

        .link_icon {
          color: #3f64ff;
        }

        p {
          color: #3f64ff;
        }
      }
    }
  }

  .user {
    position: absolute;
    bottom: 1.5rem;

    width: 280px;

    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1rem;

    div {
      display: flex;
      align-items: center;
    }

    .logout {
      width: 55px;
      height: 35px;
    }

    .user_image {
      width: 55px;
      height: 35px;
    }

    p {
      font-weight: 600;
      font-size: 1.1rem;

      transition: opacity 0.3s;
    }
  }
}

.main {
  height: 100%;

  transition: all 0.7s;

  position: absolute;

  &.open {
    left: 280px;
    width: calc(100% - 280px);
  }

  &.close {
    left: 85px;
    width: calc(100% - 85px);
  }
}

// .sidebar{
//     .widget{
//         margin-bottom: 32px;
//         .widget-title{
//             font-size: 18px;
//             font-weight: 500;
//             margin-bottom: 20px;
//         }
//         &:last-child{
//             margin-bottom: 0;
//         }
//     }
//     .widget-search{
//         form{
//             position: relative;
//         }
//         input{
//             font-size: 15px;
//             color: var(--sala-neutral-dark, #111111);
//             width: 100%;
//             outline: none;
//             border: 1px solid var(--sala-shade-background, #f9f9f9);
//             background-color: var(--sala-shade-background, #f9f9f9);
//             border-radius: 5px;
//             padding: 0 68px 0 20px;
//             height: 48px;
//         }
//         button{
//             position: absolute;
//             top: 0;
//             right: 0;
//             padding: 0;
//             border: 0;
//             width: 48px;
//             height: 48px;
//             line-height: 48px;
//             border-radius: 5px;
//             text-align: center;
//             box-shadow: none;
//             transform: none;
//             background: transparent;
//             font-size: 24px;
//             color: var(--sala-neutral-dark, #111111);
//         }
//     }
//     .widget-category{
//         li{
//             margin-bottom: 12px;
//             a{
//                 font-size: 16px;
//                 font-weight: 500;
//             }
//             &:last-child{
//                 margin-bottom: 0;
//             }
//         }
//     }
//     .widget-latest{
//         .post{
//             margin-bottom: 16px;
//         }
//         .entry-date{
//             font-size: 14px;
//             margin-bottom: 4px;
//         }
//         .entry-title h4{
//             font-size: 16px;
//             font-weight: 500;
//         }
//     }
//     .widget-tag{
//         ul{
//             letter-spacing: -0.3em;
//             li{
//                 letter-spacing: normal;
//                 display: inline-block;
//                 margin-right: 12px;
//                 margin-bottom: 12px;
//                 a{
//                     padding: 12px;
//                     @include border-radius(3px);
//                     display: inline-block;
//                     background-color: var(--sala-shade-background, #f9f9f9);
//                 }
//             }
//         }
//     }
//     .widget-about{
//         a{
//             color: var(--sala-primary-navy, #0057fc);
//         }
//     }
//     .widget-price{
//         .field-submit{
//             @include d-flex;
//             align-items: center;
//             justify-content: space-between;
//         }
//         input[type="submit"]{
//             border: 0;
//             background-color: transparent;
//             padding: 0;
//             box-shadow: 0;
//             color: var(--sala-neutral-dark, $neutral_dark);
//             &:focus{
//                 outline: 0;
//                 outline-offset: inherit;
//             }
//         }
//     }
// }
